.button {
  display: inline-block;
  width: fit-content;
  border: 1px solid $gold;
  background: transparent;
  transition: background 0.2s;

  &:hover {
    // .no-touch & {
      background: $gold;
    // }
  }

  &__link {
    display: block;
    padding: 10px 25px;
    color: $dark;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
  }
}