.section {
  height: 100vh;

  &:nth-child(even).project-preview {
    background-color: $papyrus;
    color: $dark;

    .project-preview {
      &__nb {
        color: $gold;
      }
    }
  }

  &--about {

  }
}