.h1 {
  font-family: NarzissProSwirls, Impact, 'Arial Narrow Bold', sans-serif;
  font-size: rem(48px);
  font-weight: 800;
  line-height: 125%;

    @include desktop-up {
      font-size: rem(96px);
    }
  }

.h2 {
  font-family: NarzissProCy, Impact, 'Arial Narrow Bold', sans-serif;
  font-size: rem(48px);
  font-weight: 800;
  line-height: 125%;  

  @include desktop-up {
    font-size: rem(64px);
    line-height: 125%;
  }
}

.h3 {
  font-size: rem(20px);
  font-weight: 800;
  line-height: 125%;

  .hero & {
    font-size: rem(14px);
    font-weight: 300;
  }
} 

.h4 {
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 125%;
}

.h5 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 0.1rem;
}

.paragraph {
  font-size: 1rem;
  font-weight: 200;
  line-height: 125%;
}

.copyright {
  font-size: rem(10px);
  font-weight: 300;
  line-height: 125%;
}

.backtotop {
  font-size: rem(12px);
  font-weight: 300;
  line-height: 125%;
  @include golden;
}

.menu-button {
  font-size: rem(14px);
  font-weight: 500;
  line-height: 125%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.menu-link {
  font-family: NarzissProCy, Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 1.25rem;
  line-height: 125%;
  
}