/**
* COLORS
*/

//PRIMARY :
$dark: #222222;
$black: #1B1B1B;
$gold: #EFC864;
$darkGold: #d1b160;

//SECONDARY :
$papyrus: #FFF9F2;
$orange: #FF8C00;
$pinkLady: #FF0080;

//GRADIENTS :
@mixin sunsetDreams {
  background-image: linear-gradient(5deg, #ff8c00 15%,#ff0080 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin golden {
  background: -webkit-linear-gradient(transparent, transparent),
  -webkit-linear-gradient(25deg, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

@mixin golden2 {
  background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
  radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin golden3 {
  background: linear-gradient(left, #62502C 0%, #EFC864 50%, #62502C 100%),
  linear-gradient(left, #62502C 0%, #EFC864 50%, #62502C 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/**
* FONTS
*/
$font: "Montserrat", "Segoe UI", Tahoma, Verdana, sans-serif;


/**
* BREAKPOINTS
*/
$tablet-up: 768px;
$tablet-down: 767px;

$desktop-up: 1200px;
$desktop-down: 1199px;

@mixin tablet-up {
  @media (min-width: $tablet-up) {
    @content;
  }
}
@mixin tablet-down {
  @media (max-width: $tablet-down) {
    @content;
  }
}

@mixin desktop-up {
  @media (min-width: $desktop-up) {
    @content;
  }
}
@mixin desktop-down {
  @media (max-width: $desktop-down) {
    @content;
  }
}

/**
* GLOBAL
*/
$headerHeight: 88px;